@import "../../../styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  & > svg {
    width: 75px;
    height: 75px;
    & > path {
      fill: $violetColor;
    }
  }
}
