@import 'src/styles/variables';

.notificationItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 0 14px;
  padding: 12px 0 12px;
  cursor: pointer;

  .title {
    font-weight: 400;

    line-height: 20px;
    color: #d9e2ff;
  }
  .date {
    font-weight: 400;

    line-height: 20px;
    color: #c5c6d0;
  }
}
@media (max-width:575px) {
  .notificationItem {
    margin:0;

  }  
}