@import '../../../styles/mixins';
@import '../../../styles/variables';

.dealsButton {
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px 24px 10px 16px;
  border: none;
  cursor: pointer;
  border-radius: $maximumBorderRadiusButton;
  color: #BFC6DC;
  &svg, path {
    fill: #BFC6DC;
  }
  @include large-font;
}

.activeDealsButton {
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px 24px 10px 16px;
  border: none;
  cursor: pointer;
  border-radius: $maximumBorderRadiusButton;
  color: $primaryCyan;
  background-color: $primaryTonal;
  @include large-font;
}