.currency {
  background-color: #292a2d;
  box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 90px;
  right: 120px;
  border-radius: 12px;
  padding: 12px 16px;
  animation: slideDown 0.3s ease-in-out forwards;
  z-index: 707;
  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    gap: 1rem;
  }
  &__usdt {
    display: flex;
    align-items: center;
    padding: 1px 12px;
    border-radius: 12px;
    & > span {
      color: #d9e2ff;
      padding-left: 10px;
    }
    &:hover {
      background-color: #1f1f23;
      transition: background-color ease-in-out 0.2s;
    }
  }
  &__eth {
    display: flex;
    align-items: center;
    padding: 1px 12px;
    border-radius: 12px;
    & > span {
      color: #d9e2ff;
      padding-right: 10px;
    }
    & > div {
      padding-right: 10px;
    }
    &:hover {
      background-color: #1f1f23;
      transition: background-color ease-in-out 0.2s;
    }
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}