.header {
  display: none;
  justify-content: space-between;
  background-color: #0d0e11;
  padding: 0rem 1.2rem;
  .leftSide {
    display: flex;
    align-items: center;
    gap: 36px;
    a {
      display: flex;
      gap: 10px;
    }
    h1 {
      color: #bfc6dc;
      // font-family: 'Manrope';
      //font-weight: 500;
      // font-size: 36px;
      font-style: normal;
      font-weight: 600;
    }
    .deals {
      display: flex;
      gap: 10px;
    }
    .pages {
      display: flex;
      gap: 10px;
    }
  }
  .rightSide {
    display: flex;
    align-items: center;
    gap: 10px;
    &__dropdown {
      display: flex;
      align-items: center;
      gap: 10px;
      &--icon {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 15px;
        cursor: pointer;
      }
      &--eth {
        position: absolute;
        z-index: 1;
        left: 15px;
      }
      &--currency {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-right: 30px;
        button {
          padding: 0;
          background-color: transparent;
        }
      }
    }
  }
}
.connectWallet > button > span {
  font-weight: bold;
  color: #002d6d;
}
.responsiveRightSide {
  display: none;
}

.headerRating {
  display: none;
  justify-content: space-between;
  background-color: #0d0e11;
  padding: 0rem 1.2rem;
  .leftSide {
    display: flex;
    align-items: center;
    gap: 36px;
    a {
      display: flex;
      gap: 10px;
    }
    h1 {
      color: #bfc6dc;
      // font-family: 'Manrope';
      //font-weight: 500;
      // font-size: 36px;
      font-style: normal;
      font-weight: 600;
    }
    .deals {
      display: flex;
      gap: 10px;
    }
    .pages {
      display: flex;
      gap: 10px;
    }
  }
  .rightSide {
    display: flex;
    align-items: center;
    gap: 10px;
    &__dropdown {
      display: flex;
      align-items: center;
      gap: 10px;
      &--icon {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 15px;
        cursor: pointer;
      }
      &--eth {
        position: absolute;
        z-index: 1;
        left: 15px;
      }
      &--currency {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-right: 30px;
        button {
          padding: 0;
          background-color: transparent;
        }
      }
    }
  }
}

@media (min-width: 575px) {
  .header {
    display: flex;
  }
  .headerRating {
    display: flex;
  }
  .userInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }
  .switchAndCurrency {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }
}
@media (min-width: 769px) {
}
@media (min-width: 991px) {
  .header {
    padding: 1rem 200px;
  }

  .headerRating {
    padding: 1rem 200px;
  }

  .userInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
  }
  .switchAndCurrency {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }
}
@media (min-width: 1200px) {
  .switchAndCurrency {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
// @media screen and (min-width: 320px) and (max-width: 480px) {
//   .header {
//     justify-content: center;
//     // background-color: transparent;

//     .leftSide {
//       h1 {
//         display: none;
//       }
//       .deals {
//         display: none;
//       }
//     }
//     .rightSide {
//       padding-left: 20px;
//       &__dropdown {
//         &--currency {
//           button:nth-child(3) {
//             display: none;
//           }
//         }
//       }
//     }
//   }
//   .connectWallet {
//     display: none;
//   }
//   .responsiveRightSide {
//     display: flex;
//     gap: 10px;
//   }
//   .connectWalletResponsive {
//     display: block;
//   }
//   .responsiveNotification {
//     display: flex;
//     align-items: center;
//     height: 45px;
//     background-color: #afc6ff;
//     padding: 10px;
//     border-radius: 12px;
//     & > svg > path {
//       fill: black;
//     }
//   }
// }

@media all and (min-width: 800px) and (max-width: 1200px) {
  //.header {
  //  background-color: transparent;
  //  .rightSide {
  //    padding-left: 20px;
  //  }
  //}
  .connectWallet {
    display: none;
  }
  .connectWalletResponsive {
    display: block;
  }
}
